@import "tailwindcss";

@layer base {
  :root {
    --background: #F8FAFB;
    --foreground: #1E293B;
    --card: #FFFFFF;
    --border: #F1F5F9;
  }

  .dark {
    --background: #0F172A;
    --foreground: #F8FAFB;
    --card: #1E293B;
    --border: #334155;
    
    color-scheme: dark;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 300ms, color 300ms;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

#root {
  width: 100%;
}